{{#>app}}
{{#*inline "content"}}
<div class="container">
    <div class="row">
        <div class="col-lg-4 ms-auto">
            <div class="lead"> {{ viewData.description}}</div>
        </div>
        <div class="col-lg-4 me-auto">
            <div class="lead"> {{ viewData.author}}</div>
        </div>
    </div>
</div>
{{/inline}}
{{/app}}  